body {
    background-color: #dde3ed;
    font-family: nunito;
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    margin-top:50px
}

a, :visited, :active {
    text-decoration: none;
    color: inherit;
}
